<!--% provide(:title, 'Home') % -->

<h1>Test</h1>
<p>
	Find me in app/views/static_pages/home.html.erb
</p>
<p>
	This is the home page for the sample application.
</p>
<%= link_to image_tag("test_cpu.png", alt: "图挂了"), '#' %>