<% provide( :title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<td>
				<%= @user.name %>
				<%= @user.email %>
				</td>
			</h1>
		</section>
	</aside>
</div>

